<div class="p-5">
  <span class="mat-h2">Innovation Tech</span>
  <span class="mat-h4">
    {{email}}
  </span>
</div>
<mat-divider></mat-divider>
<mat-selection-list [multiple]="false">
  <mat-list-option routerLink="/dashboard/students">
    Students
  </mat-list-option>
  <mat-list-option routerLink="/dashboard/classes">
    Class
  </mat-list-option>
  <mat-list-option routerLink="/dashboard/enrollments">
    Enrollments
  </mat-list-option>
  <mat-list-option (click)="logout()">
    Logout
  </mat-list-option>
</mat-selection-list>
