<form (submit)="addStudent()" [formGroup]="form">
  <div fxLayout="column" fxLayoutGap="20px">
    <mat-card-header fxLayout fxLayoutAlign="center center">
      <span>Add Student</span>
      <span fxFlex></span>
      <button mat-dialog-close="" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>Student Id</mat-label>
        <input formControlName="id" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Student name</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Program</mat-label>
        <input formControlName="program" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Term</mat-label>
        <input formControlName="term" matInput type="number">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button color="primary" mat-flat-button>Add</button>
    </mat-card-actions>
  </div>

</form>
